@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --offwhite: #f1f1f1;
    --light-blue: #acd2e6;
    --light-blue-2: #c8d8e7;
    --dark-blue: #37789b;
    --light-green: #75caa3;
    --dark-green: #61a787;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--offwhite);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Nav */

nav.navbar {
    background-color: var(--light-blue-2);
}

.logo {
    height: 60px;
}

.navbar-nav .nav-link {
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}

a.active {
    border-bottom: 1px solid var(--black);
    font-weight: 800;
}

/* Hero Section */
#hero-image {
    background-image: url(../media/images/dubai-palm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.hero-text-container {
    color: var(--white);
    /* From https://css.glass */
    background: rgba(64, 64, 64, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(64, 64, 64, 0.5);
}

.hero-text-container h1 {
    font-size: 2.5rem;
}

.hero-text {
    color: var(--white);
}
.btn-hero {
    background-color: #93d0f6;
    color: black;
    text-decoration: none;
}
.btn-hero:hover {
    background-color: #79a4be;
    color: var(--white);
}

.btn-green {
    background-color: var(--light-green);
}

.btn-green:hover {
    background-color: var(--dark-green);
}

/* Carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
}

/* Explore Dubai section */
.explore-dubai {
    border-radius: 60px 5px;
    height: fit-content;
    background-color: var(--dark-blue);
    padding-bottom: 60px;
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
.content {
    position: relative;
    /* width: 90%; */
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
    opacity: 1;
}
.content-image {
    width: 100%;
}
img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.fadeIn-bottom {
    top: 80%;
}

/* Dubai pass section */

.book-pass-container {
    background-color: var(--light-blue-2);
    border-radius: 20px;
}

/* Attractions page */

#hero-image-attractions {
    background-image: url(../media/images/Dubai-Weather-in-July.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

.hero-text-attractions {
    font-size: 1.1rem;
}

.text-container {
    border: 1px outset var(--white);
}

/* Eat and Sleep Page */

#hero-image-hotels {
    background-image: url(../media/images/dubai-hotels.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

/* Contact Page */
.contact-img {
    background-image: url(../media/images/dubai_beach_the_palm.jpg);
    width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    /* height: 300px; */
    /* From https://css.glass */
    background: rgb(35 28 28 / 58%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(64, 64, 64, 0.5);
}

#message {
    height: 150px;
}

.form-floating label::after {
    background-color: transparent !important;
}
#contactForm input,
#contactForm textarea {
    background-color: transparent;
    color: var(--white);
}
#contactForm label {
    color: var(--white);
}
/* Footer */

#footer {
    background-color: var(--dark-blue);
    color: var(--white);
    margin-top: auto;
}

#social-links a {
    text-decoration: none;
}

#social-links a i {
    color: var(--white);
    font-size: 25px;
}

.copyright {
    background-color: var(--dark-blue-background);
}
